Manipulating Data in Pandas DataFrame: Insertion, Deletion, and Update Operations

Insert Operation:

To insert data into a DataFrame, you can use the loc[] or iloc[] accessor methods.

In [1]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Insert a new row
df.loc[len(df)] = [7, 8]

print(df)

   A  B
0  1  4
1  2  5
2  3  6
3  7  8

Delete Operation:

To delete rows or columns from a DataFrame, you can use the drop() method.

In [2]:
# Delete a row by index
df = df.drop(0)

# Delete a column by name
df = df.drop('B', axis=1)

print(df)

   A
1  2
2  3
3  7

Update Operation:

To update values in a DataFrame, you can use the assignment operator or the loc[] accessor method.

In [3]:
# Update a single value
df.loc[0, 'A'] = 10

# Update multiple values using boolean indexing
df.loc[df['A'] > 2, 'B'] = 100

print(df)

      A      B
1   2.0    NaN
2   3.0  100.0
3   7.0  100.0
0  10.0  100.0